strong
    color: #3eaf7c;
blockquote
    border-left-color: #46bd87;
em
    font-style: normal;
    font-weight: 600;
    color: #aaa;
h1,h2
    text-align: center;
    color: #3eaf7c;
br
    display: block; /* makes it have a width */ 
    content: ""; /* clears default height */ 
    margin-bottom: 15px; /* change this to whatever height you want it */